{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

		{% stylesheets 'bundles/flight/css/*' filter='cssrewrite' %}
				<link rel="stylesheet" type="text/css" href="{{ asset_url }}">
				<link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css')}}">
		{% endstylesheets %}
		{% block stylesheets %}{% endblock %}

		
		<title>
			{% block title %}AirAtlantique{% endblock %}
		</title>

	</head>

	<body>
	<div class='container-fluid'>
		<div class ='row-fluid span12'>

			{% include '::header.html.twig' %}
			{% block body %}{% endblock %}
			{% include '::footer.html.twig' %}
			
			{% block javascripts %}
				 {% javascripts '/bundles/flight/js/*' %}
      			<script src='{{ asset_url }}' type="text/javascript"></script>
      			<script src="{{ asset('bundles/AirAtlantique/js/jquery-1.10.2.js') }}"></script>
						<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    			{% endjavascripts %}
			{% endblock %}

		</div>
	</div>
	</body>
</html>