{% extends '::base.html.twig' %}
  {% block title %}
      Liste des vols - {{ parent() }}
  {% endblock %}

  {% block body %}

    <div class="well">
        <h3>Liste des vols disponibles</h3>

        <ul>
            {% for flight in flightList %}
              {{ flight.flightName }}
              {{ flight.duration }}
              {{ flight.departureDate }}
              {{ flight.returnDate }}
          
            {% else %}
                <p>Désolé il n'y a, pour le moment, aucun vol correspondant à votre recherche.</p>
            {% endfor %}
        </ul>

    </div>
  {% endblock %}