{% extends '::base.html.twig' %}
  {% block title %}
      Liste des vols - {{ parent() }}
  {% endblock %}

  {% block body %}
    <div class="well">
        <h3>Liste des vols disponibles</h3>
        <div class='unlisted'>
            {% for key, flight in flightList %}
              <div>
                <div>
                  {{ flight.flightName }}
                  <p>durée :{{ flight.duration|date("H:i")}} </p>
                  <p>date départ :{{ flight.departureDate|date("m/d/Y H:i") }}</p>
                  <p>date d'arrivée :{{ flight.returnDate|date("m/d/Y H:i") }}</p>

                </div>
                <div>
                  {{ form_start(forms[key], {'action': path('Cart_homepage_post'), 'method' : 'POST'}) }}
                    {{ form_row(forms[key].seat) }}
                    <input type="submit" class='btn btn-primary' value="{{'form.search.submit'|trans }}" />
                  {{ form_end(forms[key]) }}
                </div>
              </div>
              {% else %}
                <p>Désolé il n'y a, pour le moment, aucun vol correspondant à votre recherche.</p>

            {% endfor %}
        </div>
    </div>
  {% endblock %}