<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link href="{{ asset('bundles/AirAtlantique/css/planetickets.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    {% for planeTicket in planeTickets %}
      <div class='container planeticket'>
        <div class='row-fluid span12'>
          {{ user.email }}
          {{ user.firstName }}
          {{ user.lastName }}
        </div>
        {% for i in 1..planeTicket.ticketnumber %}
          <div class='row-fluid span12'>
            <div class='span6'>          
              {{ planeTicket.flight.flightName }}
            </div>
            <div class='span6'>        
              {{ planeTicket.flight.departureDate | date("d/m/Y") }}
            </div>
          </div>

          <div class='row-fluid span12'>
            <div class='span4'>
            {{ planeTicket.flight.departureCity.nameAirport }}
            {{ planeTicket.flight.departureCity.city }}
            </div>
            <div class='span4'>
            {{ planeTicket.flight.destinationCity.nameAirport }}
            {{ planeTicket.flight.destinationCity.city }}   
            </div>
            <div class='span4'>
            {{ planeTicket.flight.duration | date("H:i") }}
            {{ planeTicket.flight.planeId.name }}
            </div>
          </div>

          <div class='row-fluid span12'>
            {{ planeTicket.seat.name }}
            {{ planeTicket.price }}
          </div>
        {% endfor %}
      </div>
  {% endfor %}
  </body>
</html>