<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Register</h3>
  </div>
  {{ form_start(formInscription, {'action': path('user_create'), 'method' : 'POST'}) }}
    <div class="modal-body">
      {{ form_errors(formInscription) }}
        {{ form_row(formInscription.email) }}
        {{ form_row(formInscription.lastName) }}
        {{ form_row(formInscription.firstName) }}
        {{ form_row(formInscription.gender) }}
        {{ form_row(formInscription.phoneNumber) }}
        {{ form_row(formInscription.address) }}
        {{ form_row(formInscription.city) }}
        {{ form_row(formInscription.country) }}
        {{ form_row(formInscription.password) }}           
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <input type="submit" class='btn btn-primary' value="{{'form.search.submit'|trans }}" />
    </div>
  {{ form_end(formInscription) }}
</div>