{% extends '::base.html.twig' %}
  {% block body %}
    <div class="row-fluid span12">
      <div class="container body cart">       
        <h3>Votre panier</h3>
        {% if planeTickets %}
          <table class='span12 tableau'>
            <thead class="table table-striped">
              <th class="span2">Nom du vol</th>
              <th class="span3">Type de place souhaité</th>
              <th class="span2">Nombre de place</th>
              <th class="span2">Prix du billet</th>
              <th class="span2">Modifier</th>
              <th class="span1">Supprimer</th>
            </thead>
            <tbody>        
            {% for key, planeTicket in planeTickets %}
              <tr>
                <td>{{ planeTicket.flight.flightName }}</td>
                <td>{{ planeTicket.seat.name }}</td>
                <td>{{ planeTicket.ticketnumber }}</td>
                <td>{{ planeTicket.price }}</td>
                <td><select name='number' id='ticketNumber'>
                  {% for i in 1..9 %}           
                    <option data-url="{{ path('Cart_modify', {'ticketNumber':i,'planeTicketKey': key})}}" value={{ i }}>{{ i }}</option>
                  {% endfor %}
                </select></td>
                <td><a class='btn' href="{{ path('Cart_delete', {'planeTicketKey': key }) }}"><i class='icon-trash'></i></a></td>
              </tr>
            {% endfor %}
              {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <tr><td colspan="6" class="span11"><h5 class="pull-right">Réduction : {{ advantage }}</h5></td></tr>
              {% endif %}
              <tr><td colspan="6" class="span11"><h5 class="pull-right">Prix total : {{ total }}</h5></td></tr>
            </tbody>
          </table>
          <a class='btn btn-success pull-right' href="{{ path('Cart_validate') }}">Valider</i></a>
        {% else %}
          <p>vous n'avez actuellement aucun vol dans votre panier</p>
        {% endif %} 
      </div>
    </div>
  {% endblock %}

  {% block script %}
    <script type="text/javascript">
      $( 'tr' ).change(function() {
        var url = $(this).find('#ticketNumber').find('option:selected').data('url');
        window.location.pathname = url;
      });
    </script>
    
  {% endblock %}