{% extends '::base.html.twig' %}
  {% block body %}
    <div class="row-fluid span12">
      <div class="container body cart">       
        <h3>Votre panier</h3>
        {% for key, planeTicket in planeTickets %}
          <table class='span12'>
            <thead class="table table-striped">
              <th>Nom du vol</th>
              <th>Type de place souhaité</th>
              <th>Nombre de place</th>
              <th>Prix du billet</th>
              <th>Modifier</th>
              <th>Supprimer</th>
            </thead>
            <tbody>        
              <tr>
                <td>{{ planeTicket.flight.flightName }}</td>
                <td>{{ planeTicket.seat.name }}</td>
                <td>{{ planeTicket.ticketnumber }}</td>
                <td>{{ planeTicket.price }}</td>
                <td><select name='number' id='ticketNumber'>
                  {% for i in 1..9 %}           
                    <option data-url="{{ path('Cart_modify', {'ticketNumber':i,'planeTicketKey': key})}}" value={{ i }}>{{ i }}</option>
                  {% endfor %}
                </select></td>
                 <td><a class='btn' href="{{ path('Cart_delete', {'planeTicketKey': key }) }}"><i class='icon-trash'></i></a></td>
              </tr>
            </tbody>
          </table>
          <a class='btn btn-success pull-right' href="{{ path('Cart_validate') }}">Valider</i></a>
          {% else %}
            <p>vous n'avez actuellement aucun vol dans votre panier</p>
          {% endfor %}
      </div>
    </div>
  {% endblock %}

  {% block script %}
    <script type="text/javascript">
      $( '#ticketNumber' ).change(function() {
        var url = $('#ticketNumber').find('option:selected').data('url');
        // url = window.location.host + url;
        window.location.pathname = url;
      });
    </script>
    
  {% endblock %}