{% extends '::base.html.twig' %}
  {% block body %}
    <div class="container">
      {% for key, planeTicket in planeTickets %}
        {{ planeTicket.ticketnumber }}
        {{ planeTicket.flight.flightName }}
        {{ planeTicket.seat.name }}
        {{ planeTicket.price }}
        <select name='number'>
          {% for i in 1..9 %}           
            <option value={{ i }}>{{ i }}</option>
          {% endfor %}
        </select>
         <a class='btn ' href="{{ path('Cart_delete', {'planeTicketKey': key }) }}"><i class='icon-trash'></i></a>
      {% else %}
        vous n'avez actuellement aucun vol dans votre panier
      {% endfor %}
    </div>
  {% endblock %}