{% extends '::base.html.twig' %}
  {% block body %}
    <div class="container">
      <div class='well form-actions span10'>
        {{ form_start(formAnonymous, {'action': path('payment_homepage'), 'method' : 'POST'}) }}
          {{ form_errors(formAnonymous) }}
            {{ form_row(formAnonymous.email) }}
            {{ form_row(formAnonymous.lastName) }}
            {{ form_row(formAnonymous.firstName) }}
            <input type="submit" class='btn btn-primary' value="{{'form.search.submit'|trans }}" />
        {{ form_end(formAnonymous) }}
      </div>
     
      <!-- Button to trigger modal -->
      <a href="#myModal" role="button" class="btn" data-toggle="modal">Register now !</a>
      <a href="#login" role="button" class="btn" data-toggle="modal">Login</a>
       

      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {{ app.user.username }}
      {% endif %}

      {% include 'UserBundle:User:subscribe.html.twig' with {formInscription: formInscription} %}

      {% render controller('UserBundle:Security:login') %}

    </div>
  {% endblock %}


  